.summaryCard {
  background-color: #fff;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
}


.summaryCard img {
  height: 120px;
}

.content {
  margin: 1rem;
}

.type {
  color: #718ebf;
  font-size: 1rem;
}

.credit {
  color: #16dbaa;
  font-size: 32px;
  font-weight: 600;
}

.debit {
  color: #fe5c73;
  font-size: 32px;
  font-weight: 600;
}
