.failureView {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #505887;
}

.icon {
  
  font-size: 4rem;
}

.failureView h3 {
  font-weight: 500;
}
