.button {
  border-radius: 12px;
  background-color: #2d60ff;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
}



.button:hover {
  background-color: #254ab8;
}

.button:active {
  transform: scale(0.98);
}
