.page {
  display: flex;
  background-color: #f5f7fa;
}

.home {
  flex: 1;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.header {
  color: #343c6a;
  font-size: 24px;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #eaecf0;
  background-color: #fff;
}

.summaryCardsContainer {
  display: flex;
  gap: 1rem;
}
